<template>
  <div class="about text-center">
    <p><b>Credit API from easysunday.com</b></p>
    <small class="badge bg-info">Copy Right By Thanawat Beer</small>
    <div class="my-3">
      <router-link to="/">
        <button class="btn btn-warning">กลับสู่หน้าแรก</button>
      </router-link>
    </div>
  </div>
</template>
