<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img
            src="@/assets/img/action-covid19.webp"
            class="img-fluid rounded"
            
          />
        </div>

        
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
