<template>
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center">
          <h1 class="">ดูยอดผู้ติดเชื้อ</h1>
          
          <h1 class="text-danger">COVID-19</h1>
          <span>ในประเทศไทย แบบ Realtime</span><br />
          <small class="text-muted">by Beer Thanawat</small>
        </div>

        <div class="col-lg-8 text-center">
          <div class="row">
            <div class="col-lg-12 my-2">
              <card
                :title="'ยอดติดเชื้อเพิ่มวันนี้'"
                :value="todayCases || 'กำลังประมวลผล...'"
                :description="'( ยอดติดเชื้อทั้งหมด: ' + allCases +' )' || 'กำลังประมวลผล...'"
                :classed="'bgCase text-light'"
              />
            </div>

            <div class="col-lg-6 my-2">
              <div class="card shadow">
                <card
                  :title="'หายป่วย'"
                  :value="todayRecovered || 'กำลังประมวลผล...'"
                  :description="'( ยอดหายป่วยทั้งหมด: ' + allRecovered +' )' || 'กำลังประมวลผล...'"
                  :classed="'bgRecovered text-light'"
                />
              </div>
            </div>

            <div class="col-lg-6 my-2">
              <div class="card shadow">
                <card
                  :title="'เสียชีวิต'"
                  :value="todayDeaths || 'กำลังประมวลผล...'"
                  :description="'( ยอดเสียชีวิตทั้งหมด: ' + allDeaths +' )' || 'กำลังประมวลผล...'"
                  :classed="'bgDeaths text-light'"
                />
              </div>
            </div>

            <div class="col-lg-12 my-2">
              <div class=" badge bg-info ">
                <span
                  >วันเวลาที่อัพเดทล่าสุด :
                  {{ UpdateDate || "กำลังประมวลผล..." }}</span
                >
              </div>
              <!-- <p>{{this.dateNow}}</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Card from "../components/card.vue";
// @ is an alias to /src
import { mapGetters } from "vuex";
const date = new Date();

export default {
  name: "Home",
  data() {
    return {
      

      dateNow: date.toLocaleDateString("th-TH", {
        year: "numeric",
        month: "long",
        day: "numeric",
      }),
    };
  },
  components: {
    Card,
  },

  created() {
    this.$store.dispatch("GET_DATA_COVID");

     
  },


  computed: {
    ...mapGetters([
      "todayCases",
      "allCases",
      "todayRecovered",
      "allRecovered",
      "todayDeaths",
      "allDeaths",
      "UpdateDate",
    ]),

  },
};
</script>
