<template>
  <div>
      <div class="card shadow cardStyle" :class="classed">
          <h1 >{{ title }}</h1>
          <h1>{{ value }}</h1>
          <small>{{description}}</small>
      </div>
  </div>
</template>

<script>
export default {
    props:{
        title: String, 
        value : String,
        description: String,
        classed: String
    }

}
</script>

<style>

</style>