<template>
  <div class="mb-5">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <router-link to="/" class="navbar-brand text-light"
          >COVID-19 Realtime</router-link
        >

        <div>
          <div class="d-none d-sm-block">
            <router-link class="text-light mx-2" to="/action-covid19">
              <b>อาการผู้ติดเชื้อ</b></router-link
            >
            <router-link class="text-light mx-2" to="/about">
              <b>เกี่ยวกับ</b></router-link
            >
          </div>

          <svg
            class="bi bi-list text-light d-sm-none"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </div>
      </div>
    </nav>

    <div
      class="offcanvas offcanvas-end mobileNav "
      style="width: 60%; height: 100%"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
    >
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel" class="text-light">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            />
          </svg>
          Menu
        </h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul>
          <li class="my-2 ">
            <router-link class="text-light" to="/">
              <a>หน้าหลัก</a></router-link
            >
          </li>
          <li class="my-2">
            <router-link class="text-light" to="/action-covid19">
              <a>อาการผู้ติดเชื้อ</a></router-link
            >
          </li>
          <li class="my-2">
            <router-link class="text-light" to="/about">
              <a>เกี่ยวกับ</a></router-link
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
