* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {


  background-image: url("./img/bg3.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

ul {
  list-style-type: none;
}

a {
    text-decoration: none;
  }

router-link {
    
        text-decoration: none;
      
}
nav {
  background-image: linear-gradient(#a07955, #C6B29E);
}

.mobileNav {
  background-image: linear-gradient(#a07955, #C6B29E);
}



.cardStyle{
    padding: 50px 0px 25px 0px;
}

.bgCase{
    background-image: linear-gradient( rgb(253, 64, 57), rgb(124, 14, 11));
}

.bgRecovered {
    background-image: linear-gradient( rgb(13, 252, 180), rgb(8, 104, 64));
}

.bgDeaths {
    background-image: linear-gradient( rgb(124, 124, 124),rgb(31, 31, 31));
}




/* --------------------------------- effect  */

/* Enter and leave animations can use different */
/* durations and timing functions.              */

  .slide-fade {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  
  .lgHidden{
    visibility: hidden;
  }
  


  @media only screen and (max-width: 414px) {

    
    .smHidden{
      visibility: hidden;
    }

    .lgHidden{
      visibility: visible;
    }
    
  }
