<template>
  <div >

    
    <nav-bar />
    
    <router-view />
  </div>
</template>

<script>
import NavBar from "@/components/Navbar.vue";
export default {
  components: {
    NavBar,
  },
};
</script>


